<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit|ie-comp|ie-stand" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" />
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="<?php echo C('COMMON_RES_PATH');?>lib/kill_ie/html5.js"></script>
<script type="text/javascript" src="<?php echo C('COMMON_RES_PATH');?>lib/kill_ie/respond.min.js"></script>
<script type="text/javascript" src="<?php echo C('COMMON_RES_PATH');?>lib/kill_ie/PIE_IE678.js"></script>
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="<?php echo C('COMMON_RES_PATH');?>lib/kill_ie/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<link href="<?php echo C('COMMON_RES_PATH');?>css/reset.css" rel="stylesheet" type="text/css" media="all" />
<link href="<?php echo C('BACK_RES_PATH');?>css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="<?php echo C('BACK_RES_PATH');?>css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="<?php echo C('BACK_RES_PATH');?>css/H-ui.css" rel="stylesheet" type="text/css" />
<link href="<?php echo C('BACK_RES_PATH');?>css/back.css" rel="stylesheet" type="text/css" />
<link href="<?php echo C('COMMON_RES_PATH');?>lib/iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="<?php echo C('COMMON_RES_PATH');?>lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="<?php echo C('COMMON_RES_PATH');?>lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="<?php echo C('COMMON_RES_PATH');?>lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="<?php echo C('BACK_RES_PATH');?>js/H-ui.js"></script> 
<script type="text/javascript" src="<?php echo C('BACK_RES_PATH');?>js/H-ui.admin.js"></script> 
<title>友情链接列表页 - {$cfg_back.back_title}</title>
</head>
<body>
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 
	<span class="c-gray en">&gt;</span> 运营管理 
	<span class="c-gray en">&gt;</span> 友情链接列表 
	<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
		<i class="Hui-iconfont">&#xe68f;</i>
	</a>
</nav>
<div class="pd-20">
	<div class="frm_search">
		<form action="{:U('Operation/Frdlink/linkList')}" method="post" id="frm_srch_link">
			添加日期：
			<input type="text" onfocus="WdatePicker()" id="date_start" name="date_start" value="{$_REQUEST['date_start']}" class="input-text Wdate" />
			-
			<input type="text" onfocus="WdatePicker()" id="date_end" name="date_end" value="{$_REQUEST['date_end']}" class="input-text Wdate" />
			<input type="text" class="input-text" style="width:250px" placeholder="输入友链名称" name="srch_text" value="{$_REQUEST['srch_text']}" />
			<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜友链</button>&nbsp;
			<a href="{:U('Operation/Frdlink/linkList')}" class="btn btn-danger radius">清除查询条件</a>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="{:U('Operation/Frdlink/linkEdit')}" class="btn btn-primary radius">
				<i class="Hui-iconfont">&#xe600;</i> 添加友链
			</a>
		</span>
		<span class="r">共有数据：<strong>{$row_count}</strong> 条</span>
	</div>
	<table class="table table-border table-bordered table-bg table_list">
		<thead>
			<tr>
				<th scope="col" colspan="12">友链列表</th>
			</tr>
			<tr class="text-c">
				<th width="2%"><input type="checkbox" name="f_ids[]" value="" /></th>
				<th width="">FID</th>
				<th width="">友链标题</th>
				<th width="">链接地址</th>
				<th width="">排序</th>
				<th width="">添加时间</th>
				<th width="">备注</th>
				<th width="">是否启用</th>
				<th width="">操作</th>
			</tr>
		</thead>
		<tbody>
			<volist name="link_list" id="l_list" key="k">
			<tr class="text-c">
				<td><input type="checkbox" value="{$l_list.fid}" name="f_ids[]" /></td>
				<td>{$l_list.fid}</td>
				<td>{$l_list.f_name}</td>
				<td><a href="{$l_list.f_link}" target="_blank" rel="nofllow">{$l_list.f_link}</a></td>
				<td>{$l_list.f_order}</td>
				<td>{$l_list.add_time|subtext=19}</td>
				<td>{$l_list.f_desc}</td>
				<td class="td-status">
					<if condition="$l_list['is_delete'] eq '1'">
					<span class="label radius">已禁用</span>
					<else />
					<span class="label label-success radius">已启用</span>
					</if>
				</td>
				<td class="td-manage">
				<if condition="$unabled_stop neq '1' and $l_list['id'] neq '1'">
					<if condition="$l_list['is_delete'] eq '1'">
					<a onClick="link_stop(this,'{$l_list['fid']}','{$l_list['f_name']}','start')" href="javascript:;" title="启用">
						<i class="Hui-iconfont">&#xe615;</i>
					</a>
					<else />
					<a onClick="link_stop(this,'{$l_list['fid']}','{$l_list['f_name']}','stop')" href="javascript:;" title="禁用">
						<i class="Hui-iconfont">&#xe631;</i>
					</a>
					</if>
				</if>
					<a title="信息编辑" href="{:U('Operation/Frdlink/linkEdit',array('fid'=>$l_list['fid']))}" class="ml-5">
						<i class="Hui-iconfont">&#xe6df;</i>
					</a>
				<if condition="$unabled_del neq '1' and $l_list['id'] neq '1'">
					<a title="删除" href="javascript:;" onclick="link_stop(this,'{$l_list['fid']}','{$l_list['f_name']}','del')" class="ml-5" style="text-decoration:none">
						<i class="Hui-iconfont">&#xe6e2;</i>
					</a>
				</if>
				</td>
			</tr>
			</volist>
		</tbody>
	</table>
	<div class="page_div">{$page}</div>
</div>
<script type="text/javascript">
layer.config({
	skin:'layer-ext-espresso',
	extend:'skin/espresso/style.css'
});
function link_stop(obj,fid,fname,met){
	if (met == 'stop'){
		met = 'start';
		manage_append = "<a onClick=\"link_stop(this,'"+fid+"','"+fname+"','"+met+"')\" href=\"javascript:;\" title=\"启用\"><i class=\"Hui-iconfont\">&#xe615;</i></a>";
		layer.confirm('确定要禁用吗？',{icon:0},function(){
			$.ajax({
				type: "POST",
				url: '{:U("Operation/Frdlink/linkStop")}',
				async: false,
				data: {
					"fid":fid,
					"fname":fname,
					"met":"stop"
				},
				dataType: "json",
				success:function(js_msg){
					if (js_msg.code == 1){
						$(obj).parents("tr").find(".td-manage").prepend(manage_append);
						$(obj).parents("tr").find(".td-status").html("<span class=\"label radius\">已禁用</span>");
						$(obj).remove();
						layer.msg('已禁用，请刷新页面查看！',{icon:1,time:1000});
					}else{
						layer.msg('禁用友链失败，请稍后重试！',{icon:9,time:3000});
					}
				},
				error:function(msg){
					layer.msg('系统异常！',{icon:9,time:3000});
				}
			});
		});
	}else if (met == 'start'){
		met = 'stop';
		manage_append = "<a onClick=\"link_stop(this,'"+fid+"','"+fname+"','"+met+"')\" href=\"javascript:;\" title=\"禁用\"><i class=\"Hui-iconfont\">&#xe631;</i></a>";
		layer.confirm('确定要启用吗？',{icon:0},function(){
			$.ajax({
				type: "POST",
				url: '{:U("Operation/Frdlink/linkStop")}',
				async: false,
				data: {
					"fid":fid,
					"fname":fname,
					"met":"start"
				},
				dataType: "json",
				success:function(js_msg){
					if (js_msg.code == 1){
						$(obj).parents("tr").find(".td-manage").prepend(manage_append);
						$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
						$(obj).remove();
						layer.msg('已启用，请刷新页面查看！', {icon:1,time:1000});
					}else{
						layer.msg('启用友链失败，请稍后重试！',{icon:9,time:3000});
					}
				},
				error:function(msg){
					layer.msg('系统异常！',{icon:9,time:3000});
				}
			});
		});
	}else if (met == 'del'){
		layer.confirm('确定要删除吗？',{icon:0},function(){
			$.ajax({
				type: "POST",
				url: '{:U("Operation/Frdlink/linkDel")}',
				async: false,
				data: {
					"fid":fid,
					"fname":fname
				},
				dataType: "json",
				success:function(js_msg){
					if (js_msg.code == 1){
						$(obj).parents("tr").remove();
						layer.msg('已删除，请刷新页面查看!',{icon:1,time:1000});
					}else{
						layer.msg('删除友链失败，请稍后重试！',{icon:9,time:3000});
					}
				},
				error:function(msg){
					layer.msg('系统异常！',{icon:9,time:3000});
				}
			});
		});
	}
}
</script>
</body>
</html>