<include file="./Public/header.html" />
<!--content start-->
<div class="content">
    <div class="about-section">
        <div class="container">
            <h2>联系我们</h2>
            <div class="about-grids">
                <div class="col-md-12 about-grid1">
                    <p>虽然在微信里看每一篇微信公众账号推送的文章体验是最好的，但是当你有大量文章要读时， 看完一篇返回，再进入另一篇有时候还要等加载，当然网络快的时候这个等待可以忽略，但是我们出门在外面网络并不总如人意，特别是在 地铁里面。另外，如果看一篇文章到一半了，发现有人给你发了微信消息，你要去马上回他，等回复完毕再回来还要加载文章，然后刚 才读到哪里也没有保存，还要去找。所以我希望能有一个微信公众账号文章的索引集，可以方便地在网页里打开，而不是在微信里一篇一 篇打开再点击右上角选择在浏览器里打开。顺便把微信账号也索引了，这样大家看到这个人的文章喜欢的话可以方便的关注他的微信。</p>
                    <div class="about-bottom">
                        <div class="col-md-6 about-bottomgrid">
                            <p>微信任意门意在实现百度及各类搜索引擎微信文章收录、展示、排名，提升品牌知名度。高回报微信推广公众号吸粉，是伴随着微信的火热而兴起的一种网络营销方式，势必要搭上微信任意门的顺风车。</p>
                            <p>Q >> 怎样才能让自己的公众号在任意门展现？</p>
                            <p>A >> 需要提交公众号请点击以下图标联系任意门官方人员。<br />
                                <a href="http://wpa.qq.com/msgrd?v=3&uin=<?php echo $cfg_index['web_business_qq'];?>&site=www.wxrym.cn&menu=yes" target="_blank"><img alt="野比大熊" border="0" src="http://wpa.qq.com/pa?p=2:<?php echo $cfg_index['web_business_qq'];?>:13" title="野比大熊"></a>&nbsp;&nbsp;
                                <a href="http://wpa.qq.com/msgrd?v=3&uin=<?php echo $cfg_index['web_frdLink_qq'];?>&site=www.wxrym.cn&menu=yes" target="_blank"><img alt="哆啦A梦" border="0" src="http://wpa.qq.com/pa?p=2:<?php echo $cfg_index['web_frdLink_qq'];?>:13" title="哆啦A梦"></a><br />
                                或扫描右侧二维码，微信或微博联系任意门人员为您解答相关问答。
                            </p>
                        </div>
                        <div class="col-md-6 about-bottomgrid1">
                            <img src="<?php echo C('FRONT_RES_PATH');?>images/weixin_img_2.png" class="img-responsive" alt="任意门微信" style="display: inline-block;" />
                            <img src="<?php echo C('FRONT_RES_PATH');?>images/sina_img.png" class="img-responsive" alt="新浪微博" style="display: inline-block;" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="about-section whatdo">
        <div class="container">
            <h2>运作模式</h2>
            <div class="what-grids">
                <div class="col-md-4 what-grid">
                    <div class="what-left">
                        <i class="glyphicon glyphicon-dashboard" aria-hidden="true"></i>
                    </div>
                    <div class="what-right">
                        <h4>公众号收录</h4>
                        <p>联系任意门人员提交公众号，官方管理人员审核过后将在网站展示您的公众号。</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4 what-grid">
                    <div class="what-left">
                        <i class="glyphicon glyphicon-stats" aria-hidden="true"></i>
                    </div>
                    <div class="what-right">
                        <h4>公众号文章获取</h4>
                        <p>添加公众号下最新发布文章，任意门将根据文章链接自动获取文章详情，避免二次编辑。</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4 what-grid">
                    <div class="what-left">
                        <i class="glyphicon glyphicon-screenshot" aria-hidden="true"></i>
                    </div>
                    <div class="what-right">
                        <h4>公众号推广</h4>
                        <p>任意门SEO及相关推广人员将根据公众号及其下文章内容采取最合适的推广方案进行操作。</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="about-section statistics">
        <div class="container">
            <h2>特殊申请</h2>
            <div class="statistics-grids">
                <div class="col-md-3 statistics-grid">
                    <div class="statistic">
                        <h5>图片墙</h5>
                        <p>
                            任意门首页图片墙区域为特别推荐公众号展示区，您也可以向任意门申请在图片墙区域展示您的公众号。<br />
                            &nbsp;<a href="http://wpa.qq.com/msgrd?v=3&uin=<?php echo $cfg_index['web_business_qq'];?>&site=www.wxrym.cn&menu=yes" target="_blank"><img alt="野比大熊" border="0" src="http://wpa.qq.com/pa?p=2:<?php echo $cfg_index['web_business_qq'];?>:2" title="野比大熊"></a>&nbsp;<br />
                            &nbsp;<a href="http://wpa.qq.com/msgrd?v=3&uin=<?php echo $cfg_index['web_frdLink_qq'];?>&site=www.wxrym.cn&menu=yes" target="_blank"><img alt="哆啦A梦" border="0" src="http://wpa.qq.com/pa?p=2:<?php echo $cfg_index['web_frdLink_qq'];?>:2" title="哆啦A梦"></a>&nbsp;<br />
                        </p>
                    </div>
                </div>
                <div class="col-md-3 statistics-grid">
                    <div class="statistic">
                        <h5>排行榜</h5>
                        <p>
                            在任意门首页公众号排行区域，您可以申请您的账号为“推荐”、“热门”、“优秀”，增加您的账号知名度。<br />
                            &nbsp;<a href="http://wpa.qq.com/msgrd?v=3&uin=<?php echo $cfg_index['web_business_qq'];?>&site=www.wxrym.cn&menu=yes" target="_blank"><img alt="野比大熊" border="0" src="http://wpa.qq.com/pa?p=2:<?php echo $cfg_index['web_business_qq'];?>:2" title="野比大熊"></a>&nbsp;<br />
                            &nbsp;<a href="http://wpa.qq.com/msgrd?v=3&uin=<?php echo $cfg_index['web_frdLink_qq'];?>&site=www.wxrym.cn&menu=yes" target="_blank"><img alt="哆啦A梦" border="0" src="http://wpa.qq.com/pa?p=2:<?php echo $cfg_index['web_frdLink_qq'];?>:2" title="哆啦A梦"></a>&nbsp;<br />
                        </p>
                    </div>
                </div>
                <div class="col-md-3 statistics-grid">
                    <div class="statistic">
                        <h5>美文精选</h5>
                        <p>
                            任意门首页底部将展示21篇精选优秀文章，如果您想要您公众号下文章获取更多阅读量，请向任意门申请加精。<br />
                            &nbsp;<a href="http://wpa.qq.com/msgrd?v=3&uin=<?php echo $cfg_index['web_business_qq'];?>&site=www.wxrym.cn&menu=yes" target="_blank"><img alt="野比大熊" border="0" src="http://wpa.qq.com/pa?p=2:<?php echo $cfg_index['web_business_qq'];?>:2" title="野比大熊"></a>&nbsp;<br />
                            &nbsp;<a href="http://wpa.qq.com/msgrd?v=3&uin=<?php echo $cfg_index['web_frdLink_qq'];?>&site=www.wxrym.cn&menu=yes" target="_blank"><img alt="哆啦A梦" border="0" src="http://wpa.qq.com/pa?p=2:<?php echo $cfg_index['web_frdLink_qq'];?>:2" title="哆啦A梦"></a>&nbsp;<br />
                        </p>
                    </div>
                </div>
                <div class="col-md-3 statistics-grid">
                    <div class="statistic">
                        <h5>友情链接</h5>
                        <p>
                            任意门全站底部展示与任意门达成相关合作的商户网站链接，您也可以申请与任意门交换友链达到双赢的完美效果。<br />
                            &nbsp;<a href="http://wpa.qq.com/msgrd?v=3&uin=<?php echo $cfg_index['web_business_qq'];?>&site=www.wxrym.cn&menu=yes" target="_blank"><img alt="野比大熊" border="0" src="http://wpa.qq.com/pa?p=2:<?php echo $cfg_index['web_business_qq'];?>:2" title="野比大熊"></a>&nbsp;<br />
                            &nbsp;<a href="http://wpa.qq.com/msgrd?v=3&uin=<?php echo $cfg_index['web_frdLink_qq'];?>&site=www.wxrym.cn&menu=yes" target="_blank"><img alt="哆啦A梦" border="0" src="http://wpa.qq.com/pa?p=2:<?php echo $cfg_index['web_frdLink_qq'];?>:2" title="哆啦A梦"></a>&nbsp;<br />
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--content end-->
<include file="./Public/footer.html" />