<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit|ie-comp|ie-stand" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" />
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="<?php echo C('COMMON_RES_PATH');?>lib/kill_ie/html5.js"></script>
<script type="text/javascript" src="<?php echo C('COMMON_RES_PATH');?>lib/kill_ie/respond.min.js"></script>
<script type="text/javascript" src="<?php echo C('COMMON_RES_PATH');?>lib/kill_ie/PIE_IE678.js"></script>
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="<?php echo C('COMMON_RES_PATH');?>lib/kill_ie/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<link href="<?php echo C('COMMON_RES_PATH');?>css/reset.css" rel="stylesheet" type="text/css" media="all" />
<link href="<?php echo C('BACK_RES_PATH');?>css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="<?php echo C('BACK_RES_PATH');?>css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="<?php echo C('BACK_RES_PATH');?>css/H-ui.css" rel="stylesheet" type="text/css" />
<link href="<?php echo C('BACK_RES_PATH');?>css/back.css" rel="stylesheet" type="text/css" />
<link href="<?php echo C('COMMON_RES_PATH');?>lib/iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<link href="<?php echo C('COMMON_RES_PATH');?>lib/icheck/icheck.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="<?php echo C('COMMON_RES_PATH');?>lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="<?php echo C('COMMON_RES_PATH');?>lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="<?php echo C('COMMON_RES_PATH');?>lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="<?php echo C('COMMON_RES_PATH');?>lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="<?php echo C('COMMON_RES_PATH');?>lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="<?php echo C('BACK_RES_PATH');?>js/H-ui.js"></script>
<script type="text/javascript" src="<?php echo C('BACK_RES_PATH');?>js/H-ui.admin.js"></script>

<title>站点导航信息详情页 - {$cfg_back.back_title}</title>
</head>
<body style="min-width:100%;">
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 
	<span class="c-gray en">&gt;</span> 站点管理 
	<span class="c-gray en">&gt;</span> 站点导航列表 
	<span class="c-gray en">&gt;</span> 站点导航信息更改/添加 
	<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
		<i class="Hui-iconfont">&#xe68f;</i>
	</a>
	<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="{:U('Config/Menu/meList')}" title="返回列表页" >
		<i class="Hui-iconfont">&#xe66b;</i>
	</a>
</nav>
<div class="pd-20">
	<form action="{:U('Config/Menu/meEdit')}" method="post" class="form form-horizontal" id="frm_me_save" enctype="multipart/form-data">
		<if condition="$menuInfo['id'] gt 0">
		<input type="hidden" name="save" value="1" />
		<input type="hidden" name="meid" value="{$menuInfo.id}" />
		<else />
		<input type="hidden" name="add" value="1" />
		</if>
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>导航名称：</label>
			<div class="formControls col-6">
				<if condition="$menuInfo['id'] gt 0">
				<input type="hidden" name="old_name" value="{$menuInfo.menu_name}" />
				</if>
				<input type="text" class="input-text" value="{$menuInfo.menu_name}" placeholder="" id="menu_name" name="menu_name" datatype="*" nullmsg="导航名称不能为空！" />
			</div>
			<div class="col-3"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>导航标识：</label>
			<div class="formControls col-6">
				<if condition="$menuInfo['id'] gt 0">
				<input type="hidden" name="old_tag" value="{$menuInfo.menu_tag}" />
				</if>
				<input type="text" <if condition="$menuInfo['id'] gt 0">class="input-text cur_disabled"<else />class="input-text"</if> value="{$menuInfo.menu_tag}" placeholder="" id="menu_tag" name="menu_tag" <if condition="$menuInfo['id'] gt 0">readonly="readonly"</if> datatype="*" nullmsg="导航标识名不能为空！" />
			</div>
			<div class="col-3"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>导航URL：</label>
			<div class="formControls col-6">
				<if condition="$menuInfo['id'] gt 0">
				<input type="hidden" name="old_url" value="{$menuInfo.menu_url}" />
				</if>
				<input type="text" <if condition="$menuInfo['id'] gt 0">class="input-text cur_disabled"<else />class="input-text"</if> value="{$menuInfo.menu_url}" placeholder="" id="menu_url" name="menu_url" <if condition="$menuInfo['id'] gt 0">readonly="readonly"</if> datatype="*" nullmsg="导航路径不能为空！" />
			</div>
			<div class="col-3"> </div>
		</div>
		<input type="hidden" name="parent_id" value="0" />
		<!--
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>上级菜单：</label>
			<div class="formControls col-6">
				<span class="select-box" style="width:150px;">
					<select class="select" name="parent_id" size="1" style="width:100%;">
						<option value="0">顶级</option>
						<volist name="parMenu" id="pList">
						<option value="{$pList.id}" <if condition="$menuInfo['parent_id'] eq $pList['id']">selected</if>>{$pList.menu_name}</option>
						</volist>
					</select>
				</span>
			</div>
		</div>
		-->
		<div class="row cl">
			<label class="form-label col-3">排序：</label>
			<div class="formControls col-6">
				<input type="text" class="input-text" value="{$menuInfo.m_order}" placeholder="数字越大越靠前" id="m_order" name="m_order" />
			</div>
			<div class="col-3"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-3">位置：</label>
			<div class="formControls col-6 skin-minimal">
				<div class="radio-box">
					<input type="radio" id="k_1" name="m_type" value="1" checked />
					<label for="k_1">顶部</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="k_0" name="m_type" value="2" <if condition="$menuInfo['m_type'] eq '2'">checked</if> />
					<label for="k_0"><font color="gray">底部</font></label>
				</div>
			</div>
			<div class="col-3"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-3">打开页面：</label>
			<div class="formControls col-6 skin-minimal">
				<div class="radio-box">
					<input type="radio" id="emerg_1" name="open_met" value="self" checked />
					<label for="emerg_1">当前窗口</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="emerg_0" name="open_met" value="blank" <if condition="$menuInfo['open_met'] eq 'blank'">checked</if> />
					<label for="emerg_0"><font color="gray">新建窗口</font></label>
				</div>
			</div>
			<div class="col-3"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-3">状态：</label>
			<div class="formControls col-6 skin-minimal">
				<div class="radio-box">
					<input type="radio" id="del_0" name="is_delete" value="0" checked />
					<label for="del_0">启用</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="del_1" name="is_delete" value="1" <if condition="$menuInfo['is_delete'] eq '1'">checked</if> />
					<label for="del_1"><font color="red">禁用</font></label>
				</div>
			</div>
			<div class="col-3"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-3">SEO标题：</label>
			<div class="formControls col-6">
				<input type="text" class="input-text" value="{$menuInfo.seo_title}" placeholder="" id="seo_title" name="seo_title" />
			</div>
			<div class="col-3"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-3">SEO关键词：</label>
			<div class="formControls col-6">
				<input type="text" class="input-text" value="{$menuInfo.seo_keywords}" placeholder="" id="seo_keywords" name="seo_keywords" />
			</div>
			<div class="col-3"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-3">SEO描述：</label>
			<div class="formControls col-6">
				<textarea name="seo_desc" cols="" rows="" class="textarea" placeholder="说点什么...200个字符以内" dragonfly="true" onfocus="textarealength(this,200)" onKeyUp="textarealength(this,200)" maxlength="200">{$menuInfo.seo_desc}</textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
			</div>
			<div class="col-3"></div>
		</div>
		<div class="row cl">
			<div class="col-9 col-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" />&nbsp;&nbsp;
				<a class="btn btn-default radius" href="{:U('Config/Menu/meList')}" title="返回列表页">取消</a>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#frm_me_save").Validform({
		tiptype:2,
		callback:function(form){
			form[0].submit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
});
</script>
</body>
</html>